{% block content %}

<div class="modal fade" id="record-create-modal" tabindex="-1" role="dialog"  >
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Create Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <form method="POST" action="{% url 'record_create' motorcycle.pk %}">
            {% csrf_token %}
{% comment %} ###### I was just about to manual input all of the field inputs ####### Start here tomorrow morning Sleep Well Homie {% endcomment %}
            <input type="number" name="mileage" placeholder="Enter Current Mileage" class="input" required>
            
            
      </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">
                <input type='submit' class='button'     value='Submit'>
            </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}