

{% block content %}
 <button class="btn is-success "><a class="nav-link" data-toggle="modal" data-target="#record-create-modal"> + Add Record</a></button>

<div class="modal fade" id="record-create-modal" tabindex="-1" role="dialog"  >
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Create Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <form method="POST" action="{% url 'record_create' motorcycle.pk user.pk %}">
            {% csrf_token %}

# need to add the form here
            <input type="number" name="mileage" placeholder="Current Mileage" class="input" required>
            <input type="text" name="description" placeholder="input description" class="input" required>
            {% for part in parts.all %}
            <label ><input type="checkbox" name="parts" class="input">{{part.part_number}}</label>
            {% endfor %}
            
      </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">
                <input type='submit' class='button'     value='Submit'>
            </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}