{% extends 'base.html' %}

{% block content %}

<h2>Pick A Bike to view records</h2>


<!-- All Client Owned Motorcycles-->
{% if user.tech %}

<h1>employee authorization</h1>

{%else%}

<h1>{{user.client}}</h1>

{% endif %}
{% for motorcycle in user.motorcycle.all %}
   
    <div class='moto_card'>
        
        <h5>
            {{motorcycle.make}}, 
            {{motorcycle.model}}, 
            {{motorcycle.dom}}, 
        </h5>
        
        <img class="moto_thumbnail" src="{{motorcycle.img}}" alt="No file / couldn't load">

    </div>
{% endfor %}



{% endblock %}