.uniForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;

    input {
        margin: 0 5%;
        width: 80%; 
    }

    label{
        margin: 5% 10% 0 10%;
        width: 20%;
        color: black;
    }

    li{
        list-style:none;
    }
}


.helptext{
    display: none;
}

