.greeting{
    padding: 5px;
    border: 4px double black;
    min-height: 247px;
    min-width: 291px;
    max-height: 45vh;
    max-width: 45vw;
    margin: 25vh 30vw; 
    background: rgba(125, 125, 125, .25);
}

.shopname {
    margin-bottom: 10%;
}

