@import './modal';
@import './moto_card';
@import './record.scss';
@import './tech_list.scss';
@import './forms.scss';
@import './parts.scss';
@import './home.scss';
@import './record_card.scss';

*{
    box-sizing: border-box;
}

body{
    background-color: grey;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

nav-item{
       display:flex;
}  

.status{
    max-width: 45%;
}

.dropdown-menu{
    background: lighten($color: grey, $amount: 10%);
    z-index: 1;
    border: 1px dashed whitesmoke;

    a{
        color: black;

    &:hover{
            color: white;
        }
    }
}

/* about page */
.linkedin {
    margin-left: 10%;
}

.github {
    margin-left: 15%;
}

.fa-github, .fa-linkedin-in {
    margin-left: 2%;
    margin-bottom: 1%;
    p {
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }   
}

.about_image{
    display: inline;
    border-radius: 5%;
    max-width: 35vw;
    min-width: 35vw;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}



  
  