@import './modal';
@import './moto_card';
@import './background_effect';

*{
    box-sizing: border-box;
}

body{
    background-color: grey;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}


  
  