
    
.moto_card{
    background-color: darken($color: GREY, $amount: 23%);
    margin: 10%;
    padding: 5%;
    gap: 5px;
    border-right: 4px solid red;
    border-left: 4px inset red;
    border-top: 4px inset white;
    border-bottom: 4px solid white;
    border-radius: 5px;
    max-width: 75vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4fr;

    .moto_img {
        border-radius: 5%;
        max-width: 35vw;
        min-width: 35vw;
        align-self: center;
        justify-self: center ;
        margin-right: 5vw;
    }

    .info{
        border-left: 2px solid navajowhite;
        font-size: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2vw;

        p{
            color: grey;
        }

        button{
            max-height: 7vh;
            font-size: 1.5vw;
        }
    }
}

.record_card{
    margin-left: 15vw;
    border-left:5px double black;
}