
    
.moto_card{
    background-color: darken($color: grey, $amount: 23%);
    margin: 5% 10%;
    padding: 5%;
    gap: 5px;
    border-right: 2px solid darken($color: whitesmoke, $amount: 30%);
    border-left: 2px solid darken($color: whitesmoke, $amount: 30%);
    border-top: 2px solid darken($color: whitesmoke, $amount: 30%);
    border-bottom: 2px solid darken($color: whitesmoke, $amount: 30%);
    border-radius: 5px;
    max-width: 75vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4fr;

    .moto_img {
        border-radius: 5%;
        max-width: 35vw;
        min-width: 35vw;
        align-self: center;
        justify-self: center ;
        margin-right: 5vw;
    }

    .info{
        border-left: 2px solid lighten($color: red, $amount: 10%);
        font-size: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2vw;

        p{
            color: grey;
        }

        button{
            max-height: 7vh;
            font-size: 1.5vw;
        }
    }
}

.status{
    border:2px solid black;

}
    .checkedin{
        background-color: whitesmoke;
    }   
    
    .repair{
        background-color: red;
    }

    .awaiting_parts{
        background-color: orange;
    }

    .awaiting_decision{
        background-color: yellow;
    }

    .ready{
        background-color: lighten($color: green, $amount: 15%)
    }

    .storage{
        background-color: blue;
    }
.status_update{
    display: inline;
}


.list_card {
    margin-left: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    flex-direction: column;
    width: 55vw;
    transition: 0.1s linear;
    
    a {
        text-decoration: none;
    }
    
    img {
        width: 80%;
        max-height: 500px;
        object-fit: cover;
        object-position: top;
        border-radius: 7px;
      } 
    
    p {
        color: whitesmoke;
        font-size: 12px;
        
    }

    .moto_card {
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        justify-content: center;
        gap: 30px;
        transition: 0.15s linear;
    }

    .moto_card:hover {
        transform: scale(1.15);
        z-index: 10;
        transition: .15s ease-in-out;
        border-right: 2px solid whitesmoke;
        border-left: 2px solid whitesmoke;
        border-top: 2px solid whitesmoke;
        border-bottom: 2px solid whitesmoke;
        color:black;
    }
    span {
        text-decoration: none;
    }
}

.create_record{
    margin-top: 7%;
}


