
.add_part {
    margin: 3% 5% 5% 5%; 
    color: black;
 
}

.parts_header {
    border-bottom:3px solid #0275d8;
    border-left:3px solid #0275d8;
    margin: 0 3%; 
    margin-top: 3%;
    
    .parts_title {
        padding: 3% 3% 3% 0;
        margin-left: 2.5%;
    }
}

.part_show{
    border-left: 1px solid darken($color: red, $amount: 5%);
    border-bottom: 1px solid darken($color: red, $amount: 5%);
    margin-left: 5%;
    margin-bottom: 3%;
    margin-right: 25%;
    list-style-type: none;

    :hover{
        cursor: default;
    }
}