.list_header {
    border-bottom:7px groove lighten($color: red, $amount: 10%) ;
    border-left:7px ridge lighten($color: red, $amount: 10%);
    margin: 40px 10% 10px 10%;
}
 
.search_moto {
    padding: 1% 3% 1% 3%;
    align-items: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 30%;
    margin-right: 30%;
    border-top: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    border-radius: 5px;

    .tech_tool_btn, a{
        color: black;
    }        

    .tech_tool_btn {
        margin: 5px;
    }
}

.empty{
    margin: 20px 10% 10px 10%;
    border:5px dotted whitesmoke;
}

.tech_list{
    display: flex;

    .card {
        padding: 15px;
        margin-left: 40%;
        margin-right: 50%;
        margin-top: 2vh;
        margin-bottom: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        width: 55vw;
        transition: 0.1s linear;
    }

    .gallery .card {
        display: flex;
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        justify-content: center;
        gap: 30px
    }

    .gallery .card:hover{
        transform: scale(1.1);
        border: 2px solid lighten($color: grey, $amount: 40%);
        background: grey;
        transition: .25s ease-in-out;
        z-index: 10;
            
        img {
                border: 2px solid lighten($color: grey, $amount: 40%);
        }
    }

    .tech_image {
        width: 80%;
        max-height: 400px;
        object-fit: cover;
        object-position: top;
        border: 2px solid, red;
        border-radius: 7px;
    } 

    p{
        margin-top: 15px;
        font-size: 1em;
    }

    a{ 
        text-decoration: none;
        color: black;
    }
}

