{% extends 'base.html' %}

{% block title %} {{user.username}} {% endblock %}

{% block content %}
<!-- Technician Privalages-->


{% if user.tech %}

    {% include 'modals/create/moto_create.html' %}

    {% include 'partials/tech_moto_tools.html' %}
    

{%else%}

<!-- All Client Privlages-->
<h1 class="list_header"> Welcome to the shop {{user.client.username}} click on your bike to view service history and status.</h1>

<div class="moto_list">

    {% endif %}
    {% for motorcycle in user.motorcycle.all %}

    <div class="list_card">
        <a href="{% url 'moto_detail' motorcycle.pk %}">
            <div class='moto_card'>    
                <h5>
                   <span> {{motorcycle.make}}, </span>
                   <span> {{motorcycle.model}}, </span>
                    <span>{{motorcycle.dom}}, </span>
                    {% if motorcycle.status == 1 %}
                    <div class="status checkedin">Checked In</div>
                    {% elif motorcycle.status == 2 %}
                    <div class="status repair">Undergoing Repair</div>
                    {% elif motorcycle.status == 3 %}
                    <div class="status awaiting_parts">Awaiting Parts</div>
                    {% elif motorcycle.status == 4 %}
                    <div class="status awaiting_decision">Awaiting Customer Decision</div>
                    {% elif motorcycle.status == 5 %}
                    <div class="status ready">Ready for Pick Up</div>
                    {% elif motorcycle.status == 6 %}
                    <div class="status storage">In Storage</div>
                    {% else %}
                    {%endif%}
                           
                </h5>
                
                <img class="moto_thumbnail" src="{{motorcycle.img}}" alt="No file / couldn't load">
            </div>
        </a>
    </div>
    {% endfor %}

</div>

{% endblock %}