{% extends 'base.html' %}

{% block content %}
<!-- Technician Privalages-->


<h2>Pick A Bike to view records</h2>


{% if user.tech %}

    <h1>Employee authorization</h1>

    {% include 'modals/moto_create.html' %}
    {% include 'partials/tech_moto_tools.html' %}
    

{%else%}

<!-- All Client Privlages-->
<h1>{{user.client}} id: {{user.client.id}}</h1>

{% endif %}
{% for motorcycle in user.motorcycle.all %}
   
    <a href="{% url 'moto_detail' motorcycle.pk %}">
        <div class='moto_card'>    
            <h5>
                {{motorcycle.make}}, 
                {{motorcycle.model}}, 
                {{motorcycle.dom}}, 
            </h5>
            
            <img class="moto_thumbnail" src="{{motorcycle.img}}" alt="No file / couldn't load">
        </div>
    </a>
{% endfor %}

<a href="" class="nav-link" data-toggle="modal" data-target="#moto-create-modal"><button>Add Motorcycle</button></a>

{% endblock %}