{% extends 'base.html' %}
{% block content %}

<form method="POST" action="{% url 'record_update' record.pk %}">
            {% csrf_token %}

            <span>
                <label for="description">Add Notes: </label>
                <textarea  
                value="{{record.description}}" placeholder="{{record.description}}" name="description" id="description" cols="30" rows="10"></textarea>
            </span>

            <button type='submit' name='submit'>Update Record</button>


</form>
    <h5>parts associated with work order</h5>
    <div class="parts_box">
    <div class="on_record">
     {% for part in record.parts.all %}
           <div class="part">
                <p>{{part.part_number}}</p>
                <button> <a href="{% url 'record_part_assoc' record.pk part.pk %}?assoc=remove"> <i class="fas fa-times"></i> </a> </button>
            </div> 
    {% endfor %}
    </div>

    <div class="invantory">
    <h5>Parts Invantory</h5>
        {% for part in parts %}
        <div class="part">
            <p>{{part.part_number}}</p>
            <button> <a href="{% url 'record_part_assoc' record.pk part.pk %}?assoc=add"><i class="fas fa-plus"></i></a> </button>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}